*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body{
    background-color: #ecf0f1;
}
header{
    height: 80px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 120px;
}
.logo{
    color: #2980b9;
    font-weight: bold;
    font-size: 24px;
}
.menu a{
    text-decoration: none;
    color: #2980b9;
    font-weight: bold;
    margin-left: 10px;
}
.menu .active{
    color: #484848;
}
.form-header{
    text-align: center;
    padding: 50px 0;
    font-weight: bold;
}
.form-container{
    text-align: center;
}
form{
    background-color: white;
    display: inline-block;
    padding: 70px 100px;
    border-radius: 5px;
}
form label{
    display: block;
    text-align: left;
    color: #2980b9;
    font-weight: bold;
    margin: 10px 0;
}
.form-group{
    width: 280px;
}
.form-group input{
    width: 100%;
    padding: 7px 5px;
    border: 1px solid rgba(211, 198, 198, 0.41);
    border-radius: 4px;
}
form button{
    margin-top: 20px;
    background-color: #2980b9;
    color: white;
    width: 100%;
    border: none;
    border-radius: 4px;
    padding: 10px 0;
}
.error-message{
    margin-top: 15px;
}